<!DOCTYPE html>
<html lang="en">
<head>
  <title>Mock Server Summary</title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" type="text/css" href="css/main.css">
</head>
<body>
  <div class="container-summary">

    <!-- Trace table -->
    <h1 class="title">Trace</h1>
    <div class="summary">
      <div class="summary-head">
        <table>
          <thead>
          <tr class="head">
            <th class="cell">Span Name</th>
            <th class="cell">Display Name</th>
            <th class="cell">Status</th>
          </tr>
          </thead>
        </table>
      </div>
      <div class="summary-body">
        <table>
          <tbody>
          {{ range $index, $span := .Spans }}
              {{ if eq $span.Status.Message "OK" }}
                <tr class="body">
              {{ else }}
                <tr class="body" style="border: solid 2px red;">
              {{ end }}
              <td class="cell">{{ $span.Name }}</td>
              <td class="cell">{{ $span.DisplayName.Value }}</td>
              <td class="cell">{{ $span.Status.Message }}</td>
              </tr>
          {{ end }}
          </tbody>
        </table>
      </div>
    </div>

    <!-- Metric Descriptor table -->
    <h1 class="title">Metric Descriptors</h1>
    <div class="summary">
      <div class="summary-head">
        <table>
          <thead>
          <tr class="head">
            <th class="cell">Metric Descriptor Name</th>
            <th class="cell">Metric Descriptor Type</th>
            <th class="cell">Status</th>
          </tr>
          </thead>
        </table>
      </div>
      <div class="summary-body">
        <table>
          <tbody>
          {{ range $index, $md := .MetricDescriptors }}
              {{ if eq $md.Status "OK" }}
                <tr class="body">
              {{ else }}
                <tr class="body" style="border: solid 2px red;">
              {{ end }}
              <td class="cell">{{ $md.MetricDescriptor.Name }}</td>
              <td class="cell">{{ $md.MetricDescriptor.Type }}</td>
              <td class="cell">{{ $md.Status }}</td>
              </tr>
          {{ end }}
          </tbody>
        </table>
      </div>
    </div>

    <!-- Time Series table -->
    <h1 class="title">Time Series</h1>
    <div class="summary">
      <div class="summary-head">
        <table>
          <thead>
          <tr class="head">
            <th class="cell">Metric Type</th>
            <th class="cell">Metric Labels</th>
            <th class="cell">Monitored Resource Type</th>
            <th class="cell">Monitored Resource Labels</th>
            <th class="cell">Point Interval</th>
            <th class="cell">Status</th>
          </tr>
          </thead>
        </table>
      </div>
      <div class="summary-body">
        <table>
          <tbody>
          {{ range $index, $ts := .TimeSeries }}
              {{ if eq $ts.Status "OK" }}
                <tr class="body">
              {{ else }}
                <tr class="body" style="border: solid 2px red;">
              {{ end }}
              <td class="cell">{{ $ts.TimeSeries.Metric.Type }}</td>
              <td class="cell">{{ $ts.TimeSeries.Metric.Labels }}</td>
              <td class="cell">{{ $ts.TimeSeries.Resource.Type }}</td>
              <td class="cell">{{ $ts.TimeSeries.Resource.Labels }}</td>
              {{ if $ts.TimeSeries.Points }}
                <td class="cell">{{ (index $ts.TimeSeries.Points 0).Interval }}</td>
              {{ else }}
                <td class="cell">Missing Point</td>
              {{ end }}
              <td class="cell">{{ $ts.Status }}</td>
              </tr>
          {{ end }}
          </tbody>
        </table>
      </div>
    </div>
  </div>
</body>
</html>
